<html lang="en">
<head>
<title>World Cup 2018 Win Outright table</title>
</head>
<body>
<h1>World Cup 2018 Win Outright table</h1>
<table border=1 cellpadding=4>
<thead>
<tr>
<th>&nbsp;</th>
{% for site in sites %}
<th><a href="{{site.1}}" target="_blank">{{site.0}}</a></th>
{% endfor %}
</tr>
</thead>
<tbody>
{% for team in teams %}
<tr>
<td>{{team.0}}</td>
{% for team_value in team.1 %}
<td align=center>{{team_value}}</td>
{% endfor %}
</tr>
{% endfor %}
</tbody>
</table>
</body>
</html>